<%= form_for(@person, :html => { :class => "form-horizontal"}) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :first_name, :class => "control-label"%>
		<div class="controls">
    <%= f.text_field :first_name, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :middle_name, :class => "control-label"%>
		<div class="controls">
    <%= f.text_field :middle_name, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => "control-label"%>
		<div class="controls">
    <%= f.text_field :last_name, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :gender, :class => "control-label"%>
		<div class="controls">
    <%= f.select :gender, Person::GENDER_TYPES, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :ssn, :class => "control-label"%>
		<div class="controls">
    <%= f.text_field :ssn, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :housing, :class => "control-label"%>
		<div class="controls">
    <%= f.select :housing, Person::HOUSING_TYPES, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :date_of_birth, :class => "control-label"%>
		<div class="controls">
    <%= f.date_select :date_of_birth, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => "control-label"%>
		<div class="controls">
    <%= f.text_area :address, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :ethnicity, :class => "control-label"%>
		<div class="controls">
    <%= f.select :ethnicity, Person::ETHNICITY_TYPES, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :family_type, :class => "control-label"%>
		<div class="controls">
    <%= f.select :family_type, Person::FAMILY_TYPES, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :education, :class => "control-label"%>
		<div class="controls">
    <%= f.text_field :education, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :health_insurance, :class => "control-label"%>
		<div class="controls">
    <%= f.select :health_insurance, Person::INSURANCE_TYPES, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :drug_history, :class => "control-label"%>
		<div class="controls">
    <%= f.check_box :drug_history, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :criminal_background, :class => "control-label"%>
		<div class="controls">
    <%= f.check_box :criminal_background, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :people_in_house, :class => "control-label"%>
		<div class="controls">
    <%= f.number_field :people_in_house, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :employment_income, :class => "control-label"%>
		<div class="controls">
    <%= f.number_field :employment_income, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :ssi, :class => "control-label"%>
		<div class="controls">
    <%= f.number_field :ssi, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :ssd, :class => "control-label"%>
		<div class="controls">
    <%= f.number_field :ssd, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :welfare, :class => "control-label"%>
		<div class="controls">
    <%= f.number_field :welfare, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :other, :class => "control-label"%>
		<div class="controls">
    <%= f.text_area :other, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :child_support, :class => "control-label"%>
		<div class="controls">
    <%= f.number_field :child_support, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :food_stamps, :class => "control-label"%>
		<div class="controls">
    <%= f.number_field :food_stamps, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="form-actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
