<h1>Search</h1>
<div class="row">
<%= form_tag(search_people_path, :method => "get", :class => "well form-search span8") do %>
  <%= label_tag(:query, "Search for:") %>
  <%= text_field_tag(:query, params[:query], :placeholder => 'First or Last Name',:autofocus => true ) %>
  <%= submit_tag("Search", :class => "btn") %>
	- or -
	<%= link_to 'Add a New Person', new_person_path, :class => "btn"%>
<% end %>
</div>

<%= render 'first_name_search' %>

<hr>

<%= render 'last_name_search' %>

