<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @person.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%= @person.middle_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @person.last_name %>
</p>

<p>
  <b>Gender:</b>
  <%= @person.gender %>
</p>

<p>
  <b>Ssn:</b>
  <%= @person.ssn %>
</p>

<p>
  <b>Housing:</b>
  <%= @person.housing %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @person.date_of_birth %>
</p>

<p>
  <b>Address:</b>
  <%= @person.address %>
</p>

<p>
  <b>Ethnicity:</b>
  <%= @person.ethnicity %>
</p>

<p>
  <b>Family type:</b>
  <%= @person.family_type %>
</p>

<p>
  <b>Education:</b>
  <%= @person.education %>
</p>

<p>
  <b>Health insurance:</b>
  <%= @person.health_insurance %>
</p>

<p>
  <b>Drug history:</b>
  <%= @person.drug_history %>
</p>

<p>
  <b>Criminal background:</b>
  <%= @person.criminal_background %>
</p>

<p>
  <b>People in house:</b>
  <%= @person.people_in_house %>
</p>

<p>
  <b>Employment income:</b>
  <%= @person.employment_income %>
</p>

<p>
  <b>Ssi:</b>
  <%= @person.ssi %>
</p>

<p>
  <b>Ssd:</b>
  <%= @person.ssd %>
</p>

<p>
  <b>Welfare:</b>
  <%= @person.welfare %>
</p>

<p>
  <b>Other:</b>
  <%= @person.other %>
</p>

<p>
  <b>Child support:</b>
  <%= @person.child_support %>
</p>

<p>
  <b>Food stamps:</b>
  <%= @person.food_stamps %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', search_people_path %>
