<%= form_for(@other_visit, :html => {:class => "form-horizontal"}) do |f| %>
	<legend>Other Visit Details</legend>
  <% if @other_visit.errors.any? %>
    <div class="alert alert-error">
      <h4 class="alert-heading"><%= pluralize(@other_visit.errors.count, "error") %> prohibited this other_visit from being saved:</h4>

      <ul>
      <% @other_visit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	
	<% if @other_visit.person_id.nil? %>
		<%= f.hidden_field :person_id , :value => @person.id %>
	<% else %>
		<%= f.hidden_field :person_id , :value => @other_visit.person_id %>
	<% end %>
	
	<div class="control-group">
		<%= f.label :person_name, :class => "control-label" %>
		<div class="controls">
			
			<% if @other_visit.person_id.nil? %>	
				<%= f.text_field :person_name, :disabled => true, :value => @person.full_name, :class => "input-xlarge" %>
			<% else %>
				<%= f.text_field :person_name, :disabled => true, :value => @other_visit.owners_full_name, :class => "input-xlarge" %>
			<% end %>
			
		</div>
	</div>
	
	<div class="control-group">
    <%= f.label :order_number, "Order number *", :class => "control-label" %>
    <div class="controls">		
		<% if @next_order.nil? %>
		   <%= f.number_field :order_number, :class => "input-xlarge" %>
			<span class="help-inline">There was no previous order</span>
		<% else %>
    	<%= f.number_field :order_number, :value => @next_order, :class => "input-xlarge" %>
			<span class="help-inline">The previous order was numbered <%= @prev_order %></span>
		<% end %>
		</div>
  </div>
	
	<div class="control-group">
		<%= f.label :visit_type, :class => "control-label" %>
		<div class="controls">
			<%= f.select :visit_type, OtherVisit::OTHER_VISIT_TYPES, :class => "input-xlarge"%>
		</div>
	</div>
		

	<legend>Status Details</legend>
  <div class="control-group">
    <%= f.label :status, :class => "control-label" %>
    <div class="controls">		
    <%= f.select :status, OtherVisit::STATUS_TYPES, :class => "input-xlarge" %>
		</div>
  </div>
	<% unless @other_visit.user_id.nil? %>
	<div class="control-group">
		<%= f.label :created_by, :class => "control-label" %>
		<div class="controls">
				<%= f.text_field :created_by, :disabled => true, :value => @other_visit.user.name, :class => "input-xlarge" %>

		</div>
	</div>
<div class="control-group">
		<%= f.label "Date Created", :class => "control-label" %>
		<div class="controls">
				<%= f.text_field "Date Created", :disabled => true, :value => @other_visit.created_at, :class => "input-xlarge" %>

		</div>
	</div>
	<% end %>

  <div class="form-actions">
    <%= f.submit :class => "btn btn-primary" %>
		<%= link_to "Cancel", pending_other_visits_path,  :class => "btn" %>
  </div>
<% end %>
