<h1>Listing other_visits</h1>

<table class="table table-striped">
  <tr>
		<th>Person</th>
    <th>Order number</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @other_visits.each do |other_visit| %>
  <tr>
		<td><%= other_visit.owners_full_name %>
    <td><%= other_visit.order_number %></td>
    <td><%= link_to 'Show', other_visit %></td>
    <td><%= link_to 'Edit', edit_other_visit_path(other_visit) %></td>
    <td><%= link_to 'Destroy', other_visit, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

