<p id="notice"><%= notice %></p>

<p>
  <b>Order number:</b>
  <%= @other_visit.order_number %>
</p>


<p>
  <b>Created by:</b>
  <%= User.find(@person.user_id).name rescue "A removed user" %>
</p>



<%= link_to 'Edit', edit_other_visit_path(@food_visit) %> |
<%= link_to 'Back', search_other_visits_path %>
