<%= form_for(@food_visit, :html => {:class => "form-horizontal"}) do |f| %>
	<legend>Food Visit Details</legend>
  <% if @food_visit.errors.any? %>
    <div class="alert alert-error">
      <h4 class="alert-heading"><%= pluralize(@food_visit.errors.count, "error") %> prohibited this food_visit from being saved:</h4>

      <ul>
      <% @food_visit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.hidden_field :user_id , :value => current_user.id %>
	<% if @food_visit.person_id.nil? %>
		<%= f.hidden_field :person_id , :value => @person.id %>
	<% else %>
		<%= f.hidden_field :person_id , :value => @food_visit.person_id %>
	<% end %>
	
	<div class="control-group">
		<%= f.label :person_name, :class => "control-label" %>
		<div class="controls">
			
			<% if @food_visit.person_id.nil? %>	
				<%= f.text_field :person_name, :disabled => true, :value => @person.full_name, :class => "input-xlarge" %>
			<% else %>
				<%= f.text_field :person_name, :disabled => true, :value => @food_visit.owners_full_name, :class => "input-xlarge" %>
			<% end %>
			
		</div>
	</div>
	

  <div class="control-group">
    <%= f.label :order_number, :class => "control-label" %>
    <div class="controls">		
		<% if @next_order.nil? %>
		   <%= f.number_field :order_number, :class => "input-xlarge" %>
		<% else %>
    	<%= f.number_field :order_number, :value => @next_order, :class => "input-xlarge" %>
			<span class="help-inline">The previous order was numbered <%= @next_order - 1 %></span>
		<% end %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :food_in, :class => "control-label" %>
    <div class="controls">		
    <%= f.select :food_in, FoodVisit::FOOD_IN_TYPES, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :number_of_adults, :class => "control-label" %>
    <div class="controls">		
    <%= f.select :number_of_adults, FoodVisit::NUMBER_OF_PEOPLE_TYPES, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :number_of_children, :class => "control-label" %>
    <div class="controls">		
    <%= f.select :number_of_children, FoodVisit::NUMBER_OF_PEOPLE_TYPES, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :number_of_elderly, :class => "control-label" %>
    <div class="controls">		
    <%= f.select :number_of_elderly, FoodVisit::NUMBER_OF_PEOPLE_TYPES,  :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :special_needs, :class => "control-label" %>
    <div class="controls">		
    <%= f.text_area :special_needs, :size => "20x10", :class => "input-xlarge" %>
		</div>
  </div>
	<legend>Status Details</legend>
  <div class="control-group">
    <%= f.label :status, :class => "control-label" %>
    <div class="controls">		
    <%= f.select :status, FoodVisit::STATUS_TYPES, :class => "input-xlarge" %>
		</div>
  </div>

  <div class="form-actions">
    <%= f.submit :class => "btn btn-primary" %>
		<%= link_to "Cancel", pending_food_visits_path,  :class => "btn" %>
  </div>
<% end %>
