<h1>Listing food_visits</h1>

<table>
  <tr>
    <th>Order number</th>
    <th>Food in</th>
    <th>Number of adults</th>
    <th>Number of children</th>
    <th>Number of elderly</th>
    <th>Special needs</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @food_visits.each do |food_visit| %>
  <tr>
    <td><%= food_visit.order_number %></td>
    <td><%= food_visit.food_in %></td>
    <td><%= food_visit.number_of_adults %></td>
    <td><%= food_visit.number_of_children %></td>
    <td><%= food_visit.number_of_elderly %></td>
    <td><%= food_visit.special_needs %></td>
    <td><%= link_to 'Show', food_visit %></td>
    <td><%= link_to 'Edit', edit_food_visit_path(food_visit) %></td>
    <td><%= link_to 'Destroy', food_visit, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Food visit', new_food_visit_path %>
