<h1>Pending Food Visits</h1>
<% if @food_visits.nil? %>
	<blockquote>There are no pending food visits</blockquote>
<% else %>
<table class="table table-striped">
  <tr>
    <th>Order</th>
		<th>Person</th>
    <th>Food in</th>
    <th>Number of adults</th>
    <th>Number of children</th>
    <th>Number of elderly</th>
    <th>Special needs</th>
    <th>Action</th>

  </tr>

<% @food_visits.each do |food_visit| %>
  <tr>
    <td><%= food_visit.order_number %></td>
		<td><%= link_to food_visit.owners_full_name, search_food_visits_path(:person_id => food_visit.person)  %>
    <td><%= food_visit.food_in %></td>
    <td><%= food_visit.number_of_adults %></td>
    <td><%= food_visit.number_of_children %></td>
    <td><%= food_visit.number_of_elderly %></td>
    <td><%= food_visit.special_needs %></td>
    <td><%= link_to 'Completed', processed_food_visit_path(food_visit), :class => "btn btn-mini btn-success", :method => :post %>
	<%= link_to "Edit", edit_food_visit_path(food_visit), :class => "btn btn-mini" %></td>
  </tr>
<% end %>
</table>
<% end %>
<br />

<h1>Recently Completed or Canceled</h1>

<table class="table table-striped">
  <tr>
    <th>Order</th>
		<th>Person</th>
		<th>Status</th>
    <th>Food in</th>
    <th>Number of adults</th>
    <th>Number of children</th>
    <th>Number of elderly</th>
    <th>Special needs</th>
    <th>Action</th>

  </tr>

<% @food_visits_old.each do |food_visit| %>
  <tr>
    <td><%= food_visit.order_number %></td>
		<td><%= link_to food_visit.owners_full_name, food_visit.person %>
		<td><%= food_visit.status %></td>
    <td><%= food_visit.food_in %></td>
    <td><%= food_visit.number_of_adults %></td>
    <td><%= food_visit.number_of_children %></td>
    <td><%= food_visit.number_of_elderly %></td>
    <td><%= food_visit.special_needs %></td>
		<td><%= link_to "Edit", edit_food_visit_path(food_visit), :class => "btn btn-mini" %>
  </tr>
<% end %>
</table>

<br />

