<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  </style>
</head>
<body>
	
	<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
				<%= link_to "New Bethany Ministry Portal", root_path, :class => "brand"%>
        <div class="nav-collapse">
          <ul class="nav">
            <li <% if @title == "People" %>class="active"<% end %>><%= link_to "People", search_people_path %></li>
            <li <% if @title == "Food Visits" %>class="active"<% end %>><%= link_to "Food Visits", pending_food_visits_path %></li>
						<li <% if @title == "Users" %>class="active"<% end %>><%= link_to "Users", users_path %></li>
						<li <% if @title == "Report" %>class="active"<% end %>><%= link_to "Report", report_food_visit_path %></li>
						
					</ul>
					<ul class="nav pull-right">
						<% if signed_in? %>
							<li><%= link_to current_user.name, current_user %></li>
						  <li><%= link_to "Sign out", signout_path, method: :delete %></li>
						<% else %>
						  <li><%= link_to "Sign in", signin_path %></li>
						<% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

<div class="container">
	<% flash.each do |name, msg| %>
	    <%= content_tag :div, msg, :class => "alert alert-#{name}" %>
	  <% end %>
	
<%= yield %>
</div>

<% if Rails.env.development? %>
<div class="container">
	Session Dump
	<%= params.inspect %>
	<%= session.inspect %>
</div>
<% end %>

</body>
</html>
