<h1>Listing basket_visits</h1>

<table class="table table-striped">
  <tr>
		<th>Person</th>
    <th>Order number</th>
    <th>Food in</th>
    <th>Number of adults</th>
    <th>Number of children</th>
    <th>Number of elderly</th>
    <th>Special needs</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @basket_visits.each do |basket_visit| %>
  <tr>
		<td><%= basket_visit.owners_full_name %>
    <td><%= basket_visit.order_number %></td>
    <td><%= basket_visit.basket_in %></td>
    <td><%= basket_visit.number_of_adults %></td>
    <td><%= basket_visit.number_of_children %></td>
    <td><%= basket_visit.number_of_elderly %></td>
    <td><%= basket_visit.special_needs %></td>
    <td><%= link_to 'Show', basket_visit %></td>
    <td><%= link_to 'Edit', edit_basket_visit_path(basket_visit) %></td>
    <td><%= link_to 'Destroy', basket_visit, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

