<h1>Pending Basket Visits</h1>
<% if @basket_visits.nil? or @basket_visits.empty? %>
	<blockquote>There are no pending basket visits</blockquote>
<% else %>
<table class="table table-striped">
  <tr>
    <th>Order</th>
		<th>Person</th>
    <th>Food in</th>
    <th>Number<br />of adults</th>
    <th>Number<br />of children</th>
    <th>Number<br />of elderly</th>
    <th>Special needs</th>
    <th>Action</th>

  </tr>

<% @basket_visits.each do |basket_visit| %>
  <tr>
    <td><%= basket_visit.order_number %></td>
		<td><%= link_to basket_visit.owners_full_name, search_basket_visits_path(:person_id => basket_visit.person)  %>
    <td><%= basket_visit.food_in %></td>
    <td><%= basket_visit.number_of_adults %></td>
    <td><%= basket_visit.number_of_children %></td>
    <td><%= basket_visit.number_of_elderly %></td>
    <td><%= basket_visit.special_needs %></td>
    <td><%= link_to 'Completed', processed_basket_visit_path(basket_visit), :class => "btn btn-mini btn-success", :method => :post %>
	<%= link_to "Edit", edit_basket_visit_path(basket_visit), :class => "btn btn-mini" %></td>
  </tr>
<% end %>
</table>
<% end %>
<br />

<h1>Recently Completed or Canceled</h1>

<table class="table table-striped">
  <tr>
    <th>Order</th>
		<th>Person</th>
		<th>Status</th>
    <th>Food in</th>
    <th>Number<br />of adults</th>
    <th>Number<br />of children</th>
    <th>Number<br />of elderly</th>
    <th>Special needs</th>
    <th>Action</th>

  </tr>

<% @basket_visits_old.each do |basket_visit| %>
  <tr>
    <td><%= basket_visit.order_number %></td>
		<td><%= link_to basket_visit.owners_full_name, basket_visit.person %>
		<td><%= basket_visit.status %></td>
    <td><%= basket_visit.food_in %></td>
    <td><%= basket_visit.number_of_adults %></td>
    <td><%= basket_visit.number_of_children %></td>
    <td><%= basket_visit.number_of_elderly %></td>
    <td><%= basket_visit.special_needs %></td>
		<td><%= link_to "Edit", edit_basket_visit_path(basket_visit), :class => "btn btn-mini" %>
		<%= link_to 'Destroy', basket_visit, confirm: 'Are you sure?', method: :delete, :class => 'btn  btn-mini btn-danger' %>
  </tr>
<% end %>
</table>

<br />

